* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'SUSE', sans-serif;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 70%;
    overflow-x: hidden;
}

body {
    background:  #2d3047;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    display: flex;
    background: transparent;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

.logo {
    position: relative;
    font-size: 2.5rem;
    font-weight: 600;
    color: #fff;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    font-size: 1.7rem;
    color: #fff;
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .5s; 
}

.navbar a:hover {
    color: #ff9500;
}

#menu-icon {
    display: none;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
}

.home-content h1 {
    font-size: 4rem;
}

.home-content h1 span {
    color: var(--main-color);
}




/*! weather app */


#weather-container {
    background-color: #67686d;
    max-width: 400px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
}

h2, label, p {
    color: #ff9500;
    font-size: 25px;
    margin: 8px 0;
}

input {
    width: calc(100% - 16px);
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: 20px;
}

button {
    background: #ca95f0;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    width: 100px;
    font-size: 19px;
}

button:hover {
    background: #8b48d7;
}

#temp-div p {
    font-size: 60px;
    margin-top: 10px;
}

#weather-info {
    font-size: 20px;
}

#weather-icon {
    width: 200px;
    height: 200px;
    margin: 0 auto 10px;
    margin-bottom: 0;
    display: none;
}

#hourly-forcost {
    margin-top: 50px;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

.hourl-item {
    flex: 0 0 auto;
    width: 80px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    color: white;
}

.hourly-item img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

#hourly-heading {
    color: #fff;
    margin-top: 10px;
}









































